.divContainer{

    display: flex;
    flex-direction: row;
    font-family: Inter;
    background: #48a8a1;
    
}


.divContainer > .sideContainer{
    
    margin-top: 45px;
    width: 20%;
    background: #48a8a1;
    color: #4b0082;
    padding: 0.8%;
    height: auto;
    position: fixed;
    z-index: 5;
    height: 100vh;
    text-align: left;

}
.divContainer > .sideContainer > h3{
    
    font-size: 0.7rem;
    text-align: left;

}

.divContainer > .vGContainer {

    background: #4b0082;
    margin: auto;
    padding-top: 3.2%;
    width: 100%;

}

.vGContainer > .vGCards {
    
    margin: 0.3%;
    margin-left: 22% !important;
    margin: auto;
    margin-top: 0.5%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-auto-rows: minmax(17%, auto);

}
